<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Converted Gray to Binary Code</title>
    <style>
        .result-container {
            text-align: center;
            margin-top: 50px;
        }
        .f {
            white-space: pre-wrap;
            font-size: larger;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <div class="result-container">
        <h1>Converted Binary Code:</h1>
        <!-- Displaying the binary code result -->
        <div class="f">
            <p th:text="${binaryCode}"></p> <!-- Binary code result will be rendered here -->
        </div>
        <br>
        <a href="/">Back to Home</a>
    </div>
</body>
</html>
